body {
  max-width: 120em;
  margin: 0 auto !important;
}

main {
  background: var(--main-bg);
  padding: 2em 4em;
}

.card-dish h4,
.card-dish h5,
.card-dish .h4,
.card-dish .h5 {
  color: var(--tertiary-color);
}

.ingredient small {
  color: var(--tertiary-color);
}

.gap-2 {
  gap: 0.5rem;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.px-x {
  padding: 1em;
}
