.card-dish {
  background: var(--card-bg);
  overflow: hidden;
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: var(--box-shadow-card);
}

.card-dish img {
  height: 18em;
  width: 100%;
  object-fit: cover;
}

.content-ingredients {
  padding: 1.2em 1.5em;
}

.card-dish h4,
.card-dish h3,
.card-dish .h4,
.card-dish .h3,
.card-dish .dish-description .card-dish .ingredient {
  padding: 0.7em 0;
}

.card-dish .ingredient {
  height: 4em;
}

.ingredient p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-dish .dish-description {
  min-height: 8em;
}

.card-dish .space-btw-ingredient2 {
  margin-bottom: 20px;
}

.max-lines {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 7.6em;
}
