.section-filters .row-filters {
  position: relative;
  height: 4em;
  min-width: 16em;
  padding: 0 3em;
}

.section-filters .row-total {
  flex: 1;
  display: flex;
  justify-content: end;
  padding: 0 3em;
}

.section-filters .row-filters .filter-card-ingredients {
  width: 12em;
  background: var(--card-bg);
  border-radius: var(--border-radius);
  position: absolute;
  z-index: 10;
  height: 3.5em;
  overflow: hidden;
  box-shadow: var(--box-shadow-card);
}

.filter-card-ingredients .list-ingredients {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  max-height: 10em;
}

.section-filters .row-filters .filter-card-ingredients.show {
  height: unset;
}
