.card-dish {
    background: var(--card-bg);
    overflow: hidden;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 4px 34px 30px #0000000A;
}

.card-dish img {
    height: 18em;
    width: 100%;
    object-fit: cover;
}

.content-ingredients {
    padding: 1.2em 1.5em;
}

.card-dish h4,
.card-dish h3,
.card-dish .h4,
.card-dish .h3,
.card-dish .dish-description,
.card-dish .ingredients {
    padding: .7em 0;
}
