.tag {
  position: absolute;
  top: 5em;
  left: -10px;
  border-radius: 10px;
  background: var(--secondary-color);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  align-items: center;
  max-width: 10em;
  width: 100%;
}

.tag svg {
  cursor: pointer;
}
